@import "../../../styles/media";

.footer {
  background-color: #03052b;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem 6rem;

  @include xl-mobile {
    & {
      padding: 3rem 4rem;
    }
  }
  @include md-mobile {
    & {
      padding: 3rem 1rem;
    }
  }
}

.middle {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.info {
    border-radius: 4px;
    background: #ffffff30;
    padding: 1rem 1rem;
    border-top: 5px solid #03e36e;
    max-width: 358px;
    text-align: center;
    height: auto;
    margin-top: 10px;
}

.socialLinks {
  a {
    padding: 0px 10px;
    cursor: pointer;
    svg {
      font-size: 1.9rem;
    }
  }
}
.center {
  margin-left: 50px;
  margin-right: 30px;
}

.bottom {
  margin-top: 19px;
  border-top: 1.5px solid #707070;
  padding-top: 19px;
  text-align: center;
}
