@import "../../../styles/media";

.chapter {
  background-color: #ffffffcc;
  padding: 0.8rem 3rem 0.8rem 2.1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.1s ease-in-out;
  font-family: sans-serif;
  &:hover {
    background-color: #ffffffe5;
  }
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom {
  transition: 0.3s ease;
  height: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes {
  margin-right: 15px;
  background: linear-gradient(45deg, #c579e7, #ff04c994);
}
.practice {
  background: linear-gradient(45deg, #ff5f6d, #ffc371);
}
.notes,
.practice {
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  min-height: 70px;
}
.icon {
  width: 50px;
}

.toggleIcon {
  transition: 0.6s ease;
}
.start {
  display: flex;
  .title {
    font-size: 1.1rem;
  }
}
.chapter.active {
  background-color: #fffffff3;
  .bottom {
    height: 86px;
  }
  .toggleIcon {
    transform: rotate(180deg);
  }
}

@include media(900px) {
  .chapter {
    padding: 0.8rem 1rem 0.8rem 1rem;
  }
}
@include media(450px) {
  // .icon {
  //   width: 40px;
  // }
  .notes,
  .practice {
    min-height: 60px;
    padding: 0rem .5rem;
  }
}

