@import '../../../styles/media';

.chapters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-auto-rows: 47;
    grid-gap: 15px;

}
.start, .end {
    > div:not(:last-child) {
        margin-bottom: 15px;
    }
}

@include media(800px) {
    .chapters {
        grid-template-columns: 1fr;
    }
}