$navHeight: 60px;
$primary0: #273592; 
$primary1: #273592; 
$secondary0: #273592; 
$secondary1: #273592; 

$LightBueGradient: linear-gradient(45deg, #ff04c985, #c579e7);
$skyGradient: linear-gradient(45deg, #cfd9df, #aedbf3);
$silverGradient: linear-gradient(45deg, #f5f7fa, #c3cfe2);
$blackGradient: linear-gradient(360deg, #1c1c1c 10%, #494949 360%);

$cardGradient0: linear-gradient(45deg, #ffa69e, #861657);
$cardGradient1: linear-gradient(45deg, #ec9f05, #ff4e00);
$cardGradient2: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
$cardGradient3: linear-gradient(45deg, #0d324d, #7f5a83);

$cardGradient: linear-gradient(45deg, #ffba71, #fd746c);
$cardIconGradient: linear-gradient(17deg, #ff5f6d, #ffc371);
$subjectCardGradient: linear-gradient(45deg, #ff5f6d, #ffc371);

